// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2019 Broadcom
 */

/dts-v1/;

/*
 * Reserve BL31 image area. In absence of A72 ROM,
 * Linux reboot enters at stand-alone BL31.
 */
/memreserve/ 0x562000000 0x00100000;

#include "valkyrie.dtsi"

/ {
	model = "Valkyrie (BCM958401M2) card";

	aliases {
		serial0 = &uart1;
	};

	chosen {
		bootargs = "root=/dev/ram rw console=ttyBP0,57600n8 maxcpus=1";
		stdout-path = "serial0:57600n8";
		linux,initrd-start = <0x5 0x64000000>;
		linux,initrd-end = <0x5 0x64c00000>;
	};

	memory: memory@560000000 {
		device_type = "memory";
		reg = <0x5 0x60000000 0x0 0x1FE00000>;
	};

};

&uart1 {
	status = "okay";
};
