# SPDX-License-Identifier: GPL-2.0-only
#
# Broadcom VK device
#
config BCM_VK
	tristate "Support for Broadcom Valkyrie Accelerators (VK)"
	depends on PCI_MSI
	default m
	help
	  Select this option to enable support for Broadcom
	  Valkyrie Accelerators (VK).  VK is used for performing
	  specific video offload processing.  This driver enables
	  userspace programs to access these accelerators via /dev/bcm-vk.N
	  devices.

	  If unsure, say N.
