// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2019 Broadcom
 */

/dts-v1/;

#include "ns3z.dtsi"

/ {
	model = "NS3z Combo SVK (BCM958733k)";

	aliases {
		serial0 = &uart1;
		serial1 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&pwm {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&ssp0 {
	cs-gpios = <&gpio_hsls 34 0>;
	status = "okay";
};

&ssp1 {
	cs-gpios = <&gpio_hsls 96 0>;
	status = "okay";
};

&qspi {
	pinctrl-names = "default";
	pinctrl-0 = <&qspi_pins>;
	bspi-sel = <0>;
	status = "okay";

	flash: w25q64@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <12500000>;
	};
};

&sdio0 {
	non-removable;
	full-pwr-cycle;
	status = "okay";
};

&sdio1 {
	full-pwr-cycle;
	status = "okay";
};
