// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2019 Broadcom
 */

fs6: fs6 {
	compatible = "simple-bus";
	dma-ranges;
	#address-cells = <1>;
	#size-cells = <1>;
	ranges = <0x0 0x0 0x67400000 0x00200000>;

	pki_mbox: pki_mbox@0 {
		compatible = "brcm,iproc-flexrm-mbox";
		reg = <0x00000000 0x200000>;
		msi-parent = <&gic_its 0x4100>;
		#mbox-cells = <3>;
		dma-coherent;
#if (ENABLE_FS6_IOMMU == 1)
		iommus = <&smmu 0x4000 0x00ff>,
			 <&smmu 0x4100 0x0000>;
#endif
	};
};
