// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2019 Broadcom
 */

#include <dt-bindings/pinctrl/brcm,pinctrl-stingray.h>

pinconf: pinconf@140000 {
	compatible = "pinconf-single";
	reg = <0x00140000 0x268>;
	pinctrl-single,register-width = <32>;

	/* pinconf functions */
};

pinmux: pinmux@14029c {
	compatible = "pinctrl-single";
	reg = <0x0014029c 0x268>;
	#address-cells = <1>;
	#size-cells = <1>;
	pinctrl-single,register-width = <32>;
	pinctrl-single,function-mask = <0xf>;
	pinctrl-single,gpio-range = <
		&range 0 83 MODE_GPIO
		>;
	range: gpio-range {
		#pinctrl-single,gpio-range-cells = <3>;
	};

	pwm0_pins: pinmux_pwm_0 {
		pinctrl-single,pins = <
			0xA0 MODE_NITRO
		>;
	};

	pwm1_pins: pinmux_pwm_1 {
		pinctrl-single,pins = <
			0xA4 MODE_NITRO
		>;
	};

	pwm2_pins: pinmux_pwm_2 {
		pinctrl-single,pins = <
			0xA8 MODE_NITRO
		>;
	};

	pwm3_pins: pinmux_pwm_3 {
		pinctrl-single,pins = <
			0xAC MODE_NITRO
		>;
	};

	dbu_rxd_pins: pinmux_uart1_sin_nitro {
		pinctrl-single,pins = <
			0xB0 MODE_NITRO /* dbu_rxd */
			0xB4 MODE_NITRO /* dbu_txd */
		>;
	};

	uart1_pins: pinmux_uart1_sin_nand {
		pinctrl-single,pins = <
			0xB0 MODE_NAND /* uart1_sin */
			0xB4 MODE_NAND /* uart1_out */
		>;
	};

	qspi_pins: pinumx_qspi_hold_n {
		pinctrl-single,pins = <
			0xB8 MODE_NAND /* qspi_hold_n */
			0xBC MODE_NAND /* qspi_wp_n */
			0xC0 MODE_NAND /* qspi_sck */
			0xC4 MODE_NAND /* qspi_cs_n */
			0xC8 MODE_NAND /* qspi_mosi */
			0xCC MODE_NAND /* qspi_miso */
		>;
	};

	mdio_pins: pinumx_ext_mdio {
		pinctrl-single,pins = <
			0xD0 MODE_NITRO /* ext_mdio */
			0xD4 MODE_NITRO /* ext_mdc */
		>;
	};

	spi0_pins: pinmux_spi0_sck_nand {
		pinctrl-single,pins = <
			0xE8 MODE_NITRO /* spi0_sck */
			0xEC MODE_NITRO /* spi0_rxd */
			0xF0 MODE_NITRO /* spi0_fss */
			0xF4 MODE_NITRO /* spi0_txd */
		>;
	};

	spi1_pins: pinmux_spi1_sck_nand {
		pinctrl-single,pins = <
			0xF8 MODE_NITRO /* spi1_sck */
			0xFC MODE_NITRO /* spi1_rxd */
			0x100 MODE_NITRO /* spi1_fss */
			0x104 MODE_NITRO /* spi1_txd */
		>;
	};

	nuart_pins: pinmux_uart0_sin_nitro {
		pinctrl-single,pins = <
			0x108 MODE_NITRO /* nuart_rxd */
			0x10C MODE_NITRO /* nuart_txd */
		>;
	};

	uart0_pins: pinumux_uart0_sin_nand {
		pinctrl-single,pins = <
			0x108 MODE_NAND /* uart0_sin */
			0x10C MODE_NAND /* uart0_out */
			0x110 MODE_NAND /* uart0_rts */
			0x114 MODE_NAND /* uart0_cts */
			0x118 MODE_NAND /* uart0_dtr */
			0x11D MODE_NAND /* uart0_dcd */
			0x120 MODE_NAND /* uart0_dsr */
			0x124 MODE_NAND /* uart0_ri */
		>;
	};

	drdu3_pins: pinmux_drdu3_overcurrent {
		pinctrl-single,pins = <
			0x128 MODE_NITRO /* drdu3_overcurrent */
			0x12C MODE_NITRO /* drdu3_vbus_ppc */
			0x130 MODE_NITRO /* drdu3_vbus_present */
			0x134 MODE_NITRO /* drdu3_id */
		>;
	};
};
