config BRCM_SMARTCARD
	tristate "IPROC SmartCard support"
	depends on ARCH_BCM_IPROC || COMPILE_TEST
	default ARCH_BCM_CYGNUS
	help
	  iProc SoCs Smart Card support.
	  This driver supports NXP8024 as coupler, also supports NXP8026 with
	  I2C1.

	  If unsure, say N.
