// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2018 Broadcom
 */

/dts-v1/;

#include "omega-base-board.dtsi"
#include "bcm11407.dtsi"
#include "dt-bindings/input/input.h"
#include "dt-bindings/pwm/pwm.h"
#include "wintek-lcd-panel.dtsi"

/ {
	model = "Broadcom Omega bcm91140x15-entphn";

	vbus: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "usb-vbus-p0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio_east 57 0>;
		status = "okay";
	};

	bt_reg0: regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "bt-reg0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio_crmu 3 0>;
		enable-active-high;
	};

	wlan_reg0: regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "wlan-rf-reg0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio_crmu 2 0>;
		enable-active-high;
		regulator-always-on;
	};

	bluetooth {
		compatible = "brcm,bt-rfkill";
		brcm,rfkill-regulator = <&bt_reg0>;
		bt-dev-wake-gpio = <&gpio_west 46 0>;
		bt-host-wake-gpio = <&gpio_crmu 5 0>;
	};

	sound {
		compatible = "brcm,bcm91140x15_entphn-machine";
		status = "okay";

		/* Use gpio 110 to control amp */
		brcm,ext-headset-amp-en-gpio = <&gpio_east 59 0>;

		link0 {
			format = "dsp_a";
			bitclock-master = <&dailink0_master>;
			frame-master = <&dailink0_master>;

			cpu {
				sound-dai = <&omega_audio 2>;

				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-tx-mask = <1 1 1 1 0 0 0 0>;
				dai-tdm-slot-rx-mask = <1 1 1 1 0 0 0 0>;
			};

			dailink0_master: codec {
				sound-dai = <&omega_codec 0>;
			};
		};
	};

	bl: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 3 255000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 16 24 32 50 64 128 255>;
		default-brightness-level = <6>;
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		hook {
			label = "HOOK";
			linux,code = <KEY_O>;
			gpios = <&gpio_west 49 0>;
		};
	};
};

&omega_codec {
	status = "okay";
};

&omega_audio {
	#sound-dai-cells = <1>;

	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_pins>;

	ssp0: ssp_port@0 {
		status = "okay";
	};

	ssp1: ssp_port@1 {
		status = "okay";
	};

	ssp2: ssp_port@2 {
		status = "okay";
	};

	spdif: spdif_port@3 {
		status = "okay";
	};
};

&uart0 {
	clock-frequency = <25000000>;
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbphy {
	status = "okay";
	usbphy0: phy@0 {
		#phy-cells = <0>;
		reg = <0>;
		vbus-supply = <&vbus>;
	};
};

&nand {
	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-ecc-mode = "hw";
		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
		brcm,nand-oob-sector-size = <16>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&mdio_mux {
	status = "okay";
};

&ehci {
	phys = <&usbphy0>;
	phy-names = "usbp0";
	status = "okay";
};

&ohci {
	phys = <&usbphy0>;
	phy-names = "usbp0";
	status = "okay";
};

&clcd {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_18bit_pins>;
};

&pwm1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_mfio081_pins>;
};

&spi4 {
	status = "okay";
	num-cs = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi4_mfio066_pins>;
	dmas = <&dma0 17>, <&dma0 16>;
	dma-names = "tx", "rx";

	lcd_panel_spi@0 {
		compatible = "brcm,wintek,wdf6448x";
		reg = <0>;
		spi-max-frequency = <500000>;
		pl022,com-mode = <0x2>;
		lcd-pwr-en-gpio = <&gpio_east 16 0>;
		lcd-reset-gpio = <&gpio_east 25 0>;
		lcd-init-sequence = /bits/ 16
				<0x0203 0x06c2 0x0a11 0x0e8c
				0x128b 0x1622 0x1a00 0x1e30
				0x2208 0x2640 0x2a88 0x2e88
				0x3220 0x3620 0x8203 0x86c2
				0x8a11 0x8e8c 0x928b 0x9622
				0x9a00 0x9e30 0xa208 0xa640
				0xaa88 0xae88 0xb220 0xb620>;
	};
};

&eth0 {
	status = "okay";
};

&switch {
	compatible = "brcm,bcm11407-srab", "brcm,omega-srab";
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			label = "pc";
			phy-handle = <&gphy0>;
			phy-mode = "gmii";
		};
		port@1 {
			reg = <1>;
			label = "lan";
			phy-handle = <&gphy1>;
			phy-mode = "gmii";
		};
	};
};

&esw_ctl {
	status = "okay";
};

&keypad {
	keypad,num-rows = <5>;
	keypad,num-columns = <5>;
	pull-up-enabled;
	col-debounce-filter-period = <0>;
	status-debounce-filter-period = <0>;
	row-output-enabled;
	status = "okay";

	linux,keymap = <
		MATRIX_KEY(0x00, 0x02, KEY_F) /* key_forward */
		MATRIX_KEY(0x00, 0x03, KEY_HOME) /* key_home */
		MATRIX_KEY(0x00, 0x04, KEY_M) /* key_message */
		MATRIX_KEY(0x01, 0x00, KEY_A) /* key_contacts */
		MATRIX_KEY(0x01, 0x01, KEY_1) /* key_1 */
		MATRIX_KEY(0x01, 0x02, KEY_2) /* key_2 */
		MATRIX_KEY(0x01, 0x03, KEY_3) /* key_3 */
		MATRIX_KEY(0x01, 0x04, KEY_S) /* key_speaker */
		MATRIX_KEY(0x02, 0x00, KEY_P) /* key_phone */
		MATRIX_KEY(0x02, 0x01, KEY_4) /* key_4 */
		MATRIX_KEY(0x02, 0x02, KEY_5) /* key_5 */
		MATRIX_KEY(0x02, 0x03, KEY_6) /* key_6 */
		MATRIX_KEY(0x02, 0x04, KEY_VOLUMEUP) /* key_vol_up */
		MATRIX_KEY(0x03, 0x00, KEY_C) /* key_call_log */
		MATRIX_KEY(0x03, 0x01, KEY_7) /* key_7 */
		MATRIX_KEY(0x03, 0x02, KEY_8) /* key_8 */
		MATRIX_KEY(0x03, 0x03, KEY_9) /* key_9 */
		MATRIX_KEY(0x03, 0x04, KEY_VOLUMEDOWN) /* key_vol_down */
		MATRIX_KEY(0x04, 0x00, KEY_H) /* key_headset */
		MATRIX_KEY(0x04, 0x01, KEY_KPASTERISK) /* key_* */
		MATRIX_KEY(0x04, 0x02, KEY_0) /* key_0 */
		MATRIX_KEY(0x04, 0x03, KEY_GRAVE) /* key_# */
		MATRIX_KEY(0x04, 0x04, KEY_MUTE) /* key_mute */
	>;
};

&gpio_east {
	/*
	 * East controller starts at 51, so add 51 to get real mfio pin.
	 * Enable slew rate and hysteresis on SDIO CLK, CMD and DATA lines.
	 * Enable pull-up on SDIO CMD and DATA lines.
	 */

	sdio_mfio61_65_pad_ctrl: sdio_mfio61_65_pad {
		pins = "mfio-10", "mfio-11", "mfio-12", "mfio-13", "mfio-14";
		bias-pull-up;
		slew-rate = <1>;
		input-schmitt-enable;
	};

	sdio_mfio60_pad_ctrl: sdio_mfio60_pad {
		pins = "mfio-9";
		slew-rate = <1>;
		input-schmitt-enable;
	};
};

&sdhci0 {
	status = "okay";
	keep-power-in-suspend;
	wakeup-source;
	non-removable;
	no-1-8-v;


	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_4bit_mode_pins &sdio_mfio61_65_pad_ctrl
		     &sdio_mfio60_pad_ctrl>;

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		status = "okay";
	};
};

&top_ctrl {
	brcm,omega-key-row-mux = <0x0 0x1 0x2 0x3 0x4>;
	brcm,omega-key-col-mux = <0x5 0x6 0x7 0x8 0x9>;
	status = "okay";
};

&dte {
	status = "okay";
};

