// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2018 Broadcom
 */

 /*
  * Historically, despite its generic name the bcm95831x17k DT has always been
  * associated with the 58313.  We now have variant specific DT for the SVK,
  * but keep this older DT around because many people are used to the name.
  */
#include "bcm95831317k.dts"
