/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2018 Broadcom.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
/dts-v1/;

#include "omega-base-board.dtsi"
#include "dt-bindings/input/input.h"
#include "wintek-lcd-panel.dtsi"

/ {
	chosen {
	};

	sound {
		compatible = "brcm,omega-svk-machine";
		status = "okay";

		brcm,audio-routing =
			/* Outputs */
			"SVK Handsfree", "LSPK_OUT",
			"SVK Handset Earpiece", "EP_OUT",
			"SVK Headphone jack", "HS_OUT_L",
			"SVK Headphone jack", "HS_OUT_R",

			/* Inputs */
			"AMIC1", "SVK Analog Mic1",
			"AUXMIC1", "SVK Analog Mic2",
			"AMIC3",  "SVK Analog Mic3",
			"DMIC1", "SVK Digital Mic1",
			"DMIC2", "SVK Digital Mic2",
			"DMIC3", "SVK Digital Mic3",
			"DMIC4", "SVK Digital Mic4";

		link0 {
			format = "i2s";
			bitclock-master = <&dailink0_master>;
			frame-master = <&dailink0_master>;

			dailink0_master: cpu {
				sound-dai = <&omega_audio 0>;
			};

			codec {
				sound-dai = <&bcm_dummy_codec>;
			};
		};

		link1 {
			format = "i2s";
			bitclock-master = <&dailink1_master>;
			frame-master = <&dailink1_master>;

			dailink1_master: cpu {
				sound-dai = <&omega_audio 1>;
			};

			codec {
				sound-dai = <&bcm_dummy_codec>;
			};
		};

		link2 {
			format = "dsp_a";
			bitclock-master = <&dailink2_master>;
			frame-master = <&dailink2_master>;

			brcm,transfer_mode = <1>;
			brcm,slave_mode = <1>;
			brcm,tdm_framesize = <256>;
			brcm,slot_size = <32>;

			cpu {
				sound-dai = <&omega_audio 2>;
			};

			dailink2_master: codec {
				sound-dai = <&omega_codec 0>;
			};
		};

		link3 {
			format = "i2s";
			bitclock-master = <&dailink3_master>;
			frame-master = <&dailink3_master>;

			dailink3_master: cpu {
				sound-dai = <&omega_audio 3>;
			};

			codec {
				sound-dai = <&spdif_dummy_tx>;
			};
		};

		link4 {
			format = "dsp_a";
			bitclock-master = <&dailink4_master>;
			frame-master = <&dailink4_master>;

			brcm,transfer_mode = <3>;
			brcm,slave_mode = <1>;

			dailink4_master: codec {
				sound-dai = <&omega_codec 1>;
			};
		};
	};

	bcm_dummy_codec: dummy_codec {
		#sound-dai-cells = <0>;
		status = "okay";
		compatible = "brcm,dummy_codec";
	};

	/* dummy codec to model spdif tx */
	spdif_dummy_tx: spdif_tx {
		#sound-dai-cells = <0>;
		status = "okay";
		compatible = "linux,spdif-dit";
	};
};

&i2c0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_mfio043_pins>;
};

&i2c1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_mfio045_pins>;
};

&omega_codec {
	status = "okay";
};

&omega_audio {
	#sound-dai-cells = <1>;

	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_pins>;

	ssp0: ssp_port@0 {
		status = "okay";
	};

	ssp1: ssp_port@1 {
		status = "okay";
	};

	ssp2: ssp_port@2 {
		status = "okay";
	};

	spdif: spdif_port@3 {
		status = "okay";
	};
};

&uart0 {
	clock-frequency = <25000000>;
	status = "okay";
};

&nand {
	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-ecc-mode = "hw";
		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
		brcm,nand-oob-sector-size = <16>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&mdio_mux {
	status = "okay";
};

&eth0 {
	brcm,amac-switch-bypass;
	phy-handle = <&gphy0>;
	phy-mode = "gmii";
	status = "okay";
};

&spi4 {
	status = "okay";
	num-cs = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi4_mfio066_pins>;

	lcd_panel_spi@0 {
		compatible = "brcm,wintek,wdf6448x";
		reg = <0>;
		spi-max-frequency = <500000>;
		lcd-pwr-en-gpio = <&gpio_east 16 0>;
		lcd-reset-gpio = <&gpio_east 25 0>;
		lcd-init-sequence = /bits/ 16
				<0x0203 0x06c2 0x0a11 0x0e8c
				0x128b 0x1622 0x1a00 0x1e30
				0x2208 0x2640 0x2a88 0x2e88
				0x3220 0x3620 0x8203 0x86c2
				0x8a11 0x8e8c 0x928b 0x9622
				0x9a00 0x9e30 0xa208 0xa640
				0xaa88 0xae88 0xb220 0xb620>;
	};
};

/ {
	model = "Broadcom Omeag bcm91140x15k";
};
