/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2017 Broadcom.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "brcm,omega";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			next-level-cache = <&CLUSTER0_L2>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
			next-level-cache = <&CLUSTER0_L2>;
		};

		CLUSTER0_L2: l2-cache@000 {
			compatible = "cache";
		};

	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	idle-states {
		entry-method = "psci";
		CPU_SLEEP_1_0: cpu-sleep-1-0 {
			compatible = "arm,idle-state";
			local-timer-stop;
			arm,psci-suspend-param = <0x0010000>;
			entry-latency-us = <1>;
			exit-latency-us = <1>;
			min-residency-us = <900>;
			wakeup-latency-us = <1>;
		};

		CLUSTER_SLEEP_1_1: cluster-sleep-1-1 {
			compatible = "arm,idle-state";
			local-timer-stop;
			arm,psci-suspend-param = <0x1010000>;
			entry-latency-us = <1>;
			exit-latency-us = <1>;
			min-residency-us = <1800>;
			wakeup-latency-us = <1>;
		};
	};

	memory: memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0 0x40000000>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2) |
			      IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2) |
			      IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2) |
			      IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2) |
			      IRQ_TYPE_LEVEL_LOW)>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0 0 0xffffffff>;

		#include "omega-clock.dtsi"
		#include "omega-pinctrl.dtsi"

		i2c1: i2c@350000 {
			compatible = "brcm,iproc-i2c";
			reg = <0x00350000 0x100>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts = <GIC_SPI 42 IRQ_TYPE_NONE>;
			clock-frequency = <100000>;
			status = "disabled";
		};

		timer1: timer@370000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x00370000 0x1000>;
			interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clk_ref25m_div2>,
				 <&clk_ref25m_div2>,
				 <&clk_periph_apb>;
			clock-names = "timer1clk", "timer2clk", "apb_pclk";
		};

		mdio_mux: mdio-mux@3b0000 {
			compatible = "brcm,mdio-mux-iproc";
			reg = <0x3b0000 0x250>;
			clocks = <&cdru_sdio_clk>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;

			mdio@2 {
				reg = <0x2>;
				#address-cells = <1>;
				#size-cells = <0>;

				gphy0: eth-combo-phy@3 {
					reg = <0x3>;
				};

				gphy1: eth-combo-phy@4 {
					reg = <0x4>;
				};
			};
		};

		gpio_east: gpio@3d0000 {
			compatible = "brcm,omega-pinctrl";
			reg = <0x3d0000 0x3e0>;
			ngpio = <62>;
			#gpio-cells = <2>;
			gpio-controller;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
			gpio-ranges = <&pinmux1 0 0 62>;
		};

		uart0: uart@28510000 {
			device_type = "serial";
			compatible = "snps,dw-apb-uart";
			reg = <0x28510000 0x1000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <25000000>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;
		};

		i2c0: i2c@28570000 {
			compatible = "brcm,iproc-i2c";
			reg = <0x28570000 0x100>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts = <GIC_SPI 41 IRQ_TYPE_NONE>;
			clock-frequency = <100000>;
			status = "disabled";
		};

		gpio_west: gpio@285a0000 {
			compatible = "brcm,omega-pinctrl";
			reg = <0x285a0000 0x330>;
			ngpio = <51>;
			#gpio-cells = <2>;
			gpio-controller;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupts = <GIC_SPI 52 IRQ_TYPE_LEVEL_HIGH>;
			gpio-ranges = <&pinmux0 0 0 51>;
		};

		nand: nand@288c0000 {
			compatible = "brcm,nand-iproc", "brcm,brcmnand-v6.1";
			reg = <0x288c0000 0x600>,
			      <0x28880408 0x600>,
			      <0x288c0f00 0x20>;
			reg-names = "nand", "iproc-idm", "iproc-ext";
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			brcm,nand-has-wp;
		};

		clcd: clcd@29010000 {
			compatible = "brcm,iproc-pl111", "arm,primecell";
			reg = <0x29010000 0x1000>;
			interrupts = <GIC_SPI 107 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "combined";
			clocks = <&cdru_video_axi_clock>, <&clk_periph_apb>;
			clock-names = "clcdclk", "apb_pclk";
			clcd-enable-clock-divisor;
			pinctrl-names = "default";
			pinctrl-0 = <&lcd_pins>;
			status = "disabled";
		};

		mailbox: mailbox@29488024 {
			compatible = "brcm,iproc-mailbox";
			reg = <0x29488024 0x8>;
			#mbox-cells = <1>;
		};

		gpio_crmu: gpio@29488800 {
			compatible = "brcm,cygnus-crmu-gpio";
			reg = <0x29488800 0x50>,
			      <0x29488008 0x18>;
			ngpios = <8>;
			#gpio-cells = <2>;
			gpio-controller;
			interrupt-controller;
			interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>;
			mboxes = <&mailbox 0>;
		};

		gic: interrupt-controller@2a001000 {
			compatible = "arm,gic-400";
			#interrupt-cells = <3>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			interrupt-controller;
			reg = <0x2a001000 0x01000>,
			      <0x2a002000 0x01000>,
			      <0x2a004000 0x02000>,
			      <0x2a006000 0x01000>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) |
			IRQ_TYPE_LEVEL_HIGH)>;
		};
	};

	#include "omega-optee.dtsi"
};
