// SPDX-License-Identifier: (GPL-2.0 or BSD-3-Clause)
/*
 *  Copyright(c) 2020 Broadcom
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "brcm,stingray2";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;
	dma-ranges = <0x0 0x0 0x0 0x0 0x100 0x0>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@00000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x000000>;
			enable-method = "psci";
		};

		cpu@10000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x010000>;
			enable-method = "psci";
		};

		cpu@20000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x020000>;
			enable-method = "psci";
		};

		cpu@30000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x030000>;
			enable-method = "psci";
		};

		cpu@40000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x040000>;
			enable-method = "psci";
		};

		cpu@50000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x050000>;
			enable-method = "psci";
		};

		cpu@60000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x060000>;
			enable-method = "psci";
		};

		cpu@70000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x070000>;
			enable-method = "psci";
		};

		cpu@80000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x080000>;
			enable-method = "psci";
		};

		cpu@90000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x090000>;
			enable-method = "psci";
		};

		cpu@a0000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0a0000>;
			enable-method = "psci";
		};

		cpu@b0000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0b0000>;
			enable-method = "psci";
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
	};

	scr {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x0 0x50000000 0x07000000>;

		gic: interrupt-controller@4000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			interrupt-controller;
			reg = <0x4000000 0x010000>, /* GICD */
			      <0x4180000 0x1800000>; /* GICR */
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;

			gic_its0: gic-its@4040000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04040000 0x10000>;
			};

			gic_its1: gic-its@4060000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04060000 0x10000>;
			};

			gic_its2: gic-its@4080000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04080000 0x10000>;
			};

			gic_its3: gic-its@40a0000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x040a0000 0x10000>;
			};

			gic_its4: gic-its@40c0000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x040c0000 0x10000>;
			};

			gic_its5: gic-its@40e0000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x040e0000 0x10000>;
			};

			gic_its6: gic-its@4100000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04100000 0x10000>;
			};

			gic_its7: gic-its@4120000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04120000 0x10000>;
			};

			gic_its8: gic-its@4140000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04140000 0x10000>;
			};

			gic_its9: gic-its@4160000 {
				compatible = "arm,gic-v3-its";
				msi-controller;
				#msi-cells = <1>;
				reg = <0x04160000 0x10000>;
			};
		};

		smmu: mmu@6000000 {
			compatible = "arm,smmu-v3";
			reg = <0x06000000 0x20000>;
			#global-interrupts = <1>;
			interrupts = <GIC_SPI 34 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 37 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 32 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 29 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "eventq", "priq", "cmdq-sync", "gerror";
			dma-coherent;
			#iommu-cells = <1>;
		};
	};

	cdru {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x0 0x60000000 0x80000>;

		wdt0: watchdog@21000 {
			compatible = "arm,sbsa-gwdt";
			reg = <0x21000  0x1000>,
			      <0x20000  0x1000>;
			interrupts = <GIC_SPI 393 IRQ_TYPE_LEVEL_HIGH>;
			timeout-sec = <60>;
		};

		crmu_dmu: syscon_mbox@d000 {
			compatible = "brcm,iproc-mailbox-v2", "syscon";
			reg = <0x0000d000 0x40>;
		};

		mbox_crmu: mbox0 {
			compatible = "brcm,iproc-mailbox-v2";
			reg = <0x40000 0x180>;
			interrupts = <GIC_SPI 389 IRQ_TYPE_LEVEL_HIGH>;
			brcm,iproc-mbox = <&crmu_dmu 0x20 0x00>;
			brcm,iproc-mbox-ch-count = <16>;
			#mbox-cells = <2>;
		};

		mbox_nitro: mbox1 {
			compatible = "brcm,iproc-mailbox-v2";
			reg = <0x40480 0x180>;
			interrupts = <GIC_SPI 389 IRQ_TYPE_LEVEL_HIGH>;
			brcm,iproc-mbox = <&crmu_dmu 0x20 0x30>;
			brcm,iproc-mbox-ch-count = <16>;
			#mbox-cells = <2>;
		};
	};

	mailbox_test {
		compatible = "mailbox-test";
		mboxes = <&mbox_crmu 7 0>, <&mbox_crmu 15 1>;
		mbox-names = "tx", "rx";
	};

	#include "stingray2-clock.dtsi"

	hsls {
		compatible = "simple-bus";
		dma-ranges;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x0 0x68900000 0x17700000>;

		timer0: timer@30000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x00030000 0x1000>;
			interrupts = <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&timer0_clk>;
			clock-names = "apb_pclk";
			status = "disabled";
		};

		#include "stingray2-pinctrl.dtsi"

		i2c0: i2c@b0000 {
			compatible = "brcm,iproc-i2c";
			reg = <0x000b0000 0x100>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts = <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>;
			clock-frequency = <100000>;
			status = "disabled";
		};

		gpio_hsls: gpio@d0000 {
			compatible = "brcm,iproc-gpio";
			reg = <0x000d0000 0x264>;
			ngpios = <60>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pinmux 0 0 38>,
				      <&pinmux 38 46 2>,
				      <&pinmux 40 44 2>,
				      <&pinmux 42 38 4>,
				      <&pinmux 46 60 4>,
				      <&pinmux 50 42 2>,
				      <&pinmux 52 52 8>;
		};

		i2c1: i2c@e0000 {
			compatible = "brcm,iproc-i2c";
			reg = <0x000e0000 0x100>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts = <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>;
			clock-frequency = <100000>;
			status = "disabled";
		};

		uart0: uart@100000 {
			device_type = "serial";
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x00100000 0x1000>;
			clocks = <&pl011_clk>, <&apb_clk>;
			clock-names = "pl0110_clk", "apb_pclk";
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>;
		};

		uart1: uart@110000 {
			device_type = "serial";
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x00110000 0x1000>;
			clocks = <&pl011_clk>, <&apb_clk>;
			clock-names = "pl011_clk", "apb_pclk";
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 171 IRQ_TYPE_LEVEL_HIGH>;
		};

		ssp0: spi@500000 {
			compatible = "arm,pl022", "arm,primecell";
			reg = <0x00500000 0x1000>;
			interrupts = <GIC_SPI 181 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&spi0_clk>, <&spi0_clk>;
			clock-names = "spiclk", "apb_pclk";
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		ssp1: spi@510000 {
			compatible = "arm,pl022", "arm,primecell";
			reg = <0x00510000 0x1000>;
			interrupts = <GIC_SPI 182 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&spi0_clk>, <&spi0_clk>;
			clock-names = "spiclk", "apb_pclk";
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

	};

	mmc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0x0 0x0 0x0 0x63200000 0x0 0x100000>;
		dma-ranges = <0x0 0x0 0x0 0x0 0x100 0x0>;

		sdio0: sdhci@90000 {
			compatible = "brcm,sdhci-iproc-v2";
			reg = <0x0 0x90000 0x0 0x100>;
			interrupts = <GIC_SPI 227 IRQ_TYPE_LEVEL_HIGH>;
			bus-width = <8>;
			clocks = <&sdio0_clk>;
			iommus = <&smmu 0xf8001>;
			status = "disabled";
			dma-coherent;
		};

		sdio1: sdhci@80000 {
			compatible = "brcm,sdhci-iproc-v2";
			reg = <0x0 0x80000 0x0 0x100>;
			interrupts = <GIC_SPI 228 IRQ_TYPE_LEVEL_HIGH>;
			bus-width = <8>;
			clocks = <&sdio1_clk>;
			iommus = <&smmu 0xf8002>;
			status = "disabled";
			dma-coherent;
		};
	};

	pcie0: pcie@5400000000 {
		compatible = "pci-host-ecam-generic";
		reg = <0x54 0x00000000 0x0 0x10000000>;
		reg-names = "PCI ECAM";
		linux,pci-domain = <0>;
		bus-range = <0x0 0xff>;
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";

		#interrupt-cells = <1>;
		interrupt-map-mask = <0 0 0 7>;
		interrupt-map = <0 0 0 1 &gic 0 GIC_SPI 327 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 0 2 &gic 0 GIC_SPI 328 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 0 3 &gic 0 GIC_SPI 329 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 0 4 &gic 0 GIC_SPI 330 IRQ_TYPE_LEVEL_HIGH>;

		ranges = <0x83000000 0x0 0x4000000 0x0 0x4000000 0 0x2000000>,
			 <0x43000000 0x40 0x00000000 0x40 0x00000000 0x1 0x00000000>;
		dma-ranges = <0x0 0x00 0x00000000 0x00 0x00000000 0x100 0x00000000>;
		dma-coherent;
		msi-map = <0x0 &gic_its1 0x0 0xFFFF>; /* PF0 */
		iommu-map = <0x0 &smmu 0x0 0xFFFF>; /* PF0 */
		status = "disabled";
	};

	pcie8: pcie@20000000 {
		compatible = "pci-host-ecam-generic";
		reg = <0x0 0x40800000  0x0 0x800000>;
		reg-names = "PCI ECAM";
		linux,pci-domain = <8>;
		bus-range = <0x0 0xff>;
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		ranges = <0x83000000 0x0 0x41000000 0x0 0x41000000 0 0x3000000>,
			 <0x43000000 0x7 0x00000000 0x7 0x00000000 0x1 0x00000000>;
		dma-ranges = <0x0 0x00 0x00000000 0x00 0x00000000 0x100 0x00000000>;
		dma-coherent;
		msi-map = <0x100 &gic_its0 0xe0000 0x8>; /* PF0 - PF7*/
		iommu-map = <0x100 &smmu 0xe0000 0x8>; /* PF0 - PF7 */
		status = "disabled";
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};
};
