config BRCMESW_CTL
	tristate "Broadcom Internal Ethernet Switch Control Interface"
        depends on B53 || COMPILE_TEST
        depends on OF && HAS_IOMEM
	default ARCH_BCM_IPROC
	help
	  Enable access to the Broadcom SoC's internal ethernet switch
	  registers.

	  This char driver exposes ioctl's which can be called
	  from user space to access the switch registers to perform
	  the Ethernet switch configurations.

	  If unsure, say N.
