/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2017 Broadcom.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom Corporation nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;

#include "bcm958305_audio_sa.dtsi"

/ {
	model = "Cygnus Wireless Audio (BCM958305_AUD_BASE)";
	compatible = "brcm,bcm58305", "brcm,cygnus";

	gpio_backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&stmpe_gpio 2 0>;
		default-on;
	};

	vdd_5v_reg: regulator@3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-5v-reg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	sound {
		compatible = "brcm,bcm958305-aud-base-machine";
		status = "okay";

		link0 {
			format = "i2s";
			bitclock-master = <&dailink0_master>;
			frame-master = <&dailink0_master>;

			dailink0_master: cpu {
				sound-dai = <&cygnus_audio 0>;
			};

			codec {
				sound-dai = <&wm8994_codec 0>; /* wm8994-aif1 */
			};
		} ;

		link1 {
			format = "i2s";
			bitclock-master = <&dailink1_master>;
			frame-master = <&dailink1_master>;

			dailink1_master: cpu {
				sound-dai = <&cygnus_audio 1>;
			};

			codec {
				sound-dai = <&ak4385_codec>;
			};
		};

		link2 {
			format = "i2s";
			bitclock-master = <&dailink2_master>;
			frame-master = <&dailink2_master>;

			dailink2_master: cpu {
				sound-dai = <&cygnus_audio 3>;
			};

			codec {
				sound-dai = <&spdif_dummy_tx>;
			};
		};
	};

	/* dummy codec to model spdif tx */
	spdif_dummy_tx: spdif_tx {
		#sound-dai-cells = <0>;
		status = "okay";
		compatible = "linux,spdif-dit";
	};
};

&cygnus_audio {
	#sound-dai-cells = <1>;

	ssp0: ssp_port@0 {
		status = "okay";
	};

	ssp1: ssp_port@1 {
		status = "okay";
	};

	ssp2: ssp_port@2 {
		status = "okay";
	};

	spdif: spdif_port@3 {
		status = "okay";
	};
};

&dte {
	brcm,dte-interval-ns = <10000000>;
};

&ehci0 {
	phys = <&usbphy0 0>;
	phy-names = "usbp0";
	status = "okay";
};

&enet {
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	wm8994_codec: wm8994@1a {
		#sound-dai-cells = <1>;
		compatible = "wlf,wm8994";
		reg = <0x1a>;

		gpio-controller;
		#gpio-cells = <2>;

		DBVDD-supply = <&vdd_3v3_reg>;
		DCVDD-supply = <&vdd_3v3_reg>;
		AVDD1-supply = <&vdd_1v8_reg>;
		AVDD2-supply = <&vdd_1v8_reg>;
		CPVDD-supply = <&vdd_1v8_reg>;
		SPKVDD1-supply = <&vdd_5v_reg>;
		SPKVDD2-supply = <&vdd_5v_reg>;
	};
};

&keypad {
	keypad,num-rows = <5>;
	keypad,num-columns = <2>;
	status = "okay";

	linux,keymap = <MATRIX_KEY(0x00, 0x00, KEY_1) /* key_1 */
	MATRIX_KEY(0x01, 0x00, KEY_2) /* key_2 */
	MATRIX_KEY(0x02, 0x00, KEY_3) /* key_3 */
	MATRIX_KEY(0x03, 0x01, KEY_4) /* key_4 */
	MATRIX_KEY(0x04, 0x01, KEY_5) /* key_5 */
	>;
};

&ohci0 {
	phys = <&usbphy0 0>;
	phy-names = "usbp0";
	status = "okay";
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&keypad_on &i2s0_default_mux
		&i2s1_default_mux &i2s2_default_mux &dte_lts_0>;
	keypad_on: keypad_on {
		function = "key";
		groups = "key0_grp", "key1_grp", "key8_grp",
			 "key9_grp", "key10_grp", "key11_grp",
			 "key12_grp";
	};
};

&spi1 {
	status = "okay";
	num-cs = <1>;

	ak4385_codec: ak4385@0 {
		#sound-dai-cells = <0>;
		compatible = "asahi-kasei,ak4385";
		reg = <0>;
		spi-max-frequency = <5000000>;
		spi-cpol;
		spi-cpha;
		power-gpio = <&gpio_asiu 120 0>;
		amp-mute-gpio = <&gpio_asiu 102 0>;
		vdd-supply = <&vdd_5v_reg>;
	};
};


&spi2 {
	status = "okay";
	num-cs = <2>;
	cs-gpios = <&gpio_asiu 46 0>, <&gpio_asiu 118 0>;

	pitft: pitft@0{
		compatible = "ilitek,ili9341";
		reg = <0>;
		spi-max-frequency = <25000000>;
		pl022,com-mode = <0>;
		rotate = <270>;
		fps = <10>;
		bgr;
		buswidth = <8>;
		dc-gpios = <&gpio_asiu 117 0>;
		debug = <0>;
	};

	pitft_ts@1 {
		compatible = "st,stmpe610";
		reg = <1>;
		spi-max-frequency = <1000000>;
		irq-gpio = <&gpio_ccm 6 0>;
		interrupt-parent = <&gpio_ccm>;
		interrupt-controller;

		stmpe_touchscreen {
			compatible = "st,stmpe-ts";
			st,sample-time = <4>;
			st,mod-12b = <1>;
			st,ref-sel = <0>;
			st,adc-freq = <2>;
			st,ave-ctrl = <3>;
			st,touch-det-delay = <4>;
			st,settling = <2>;
			st,fraction-z = <7>;
			st,i-drive = <0>;
		};

		stmpe_gpio: stmpe_gpio {
			#gpio-cells = <2>;
			compatible = "st,stmpe-gpio";
			/*
			 * only GPIO2 is wired/available
			 * and it is wired to the backlight
			 */
			st,norequest-mask = <0x7b>;
		};
	};
};
