/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2017 Broadcom.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom Corporation nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include "bcm-cygnus.dtsi"
#include "dt-bindings/input/input.h"

/ {
	aliases {
		serial0 = &uart3;
		serial1 = &uart1;
		serial2 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	bluetooth {
		compatible = "brcm,bt-rfkill";
		brcm,rfkill-regulator = <&rf_reg0>;
		bt-dev-wake-gpio = <&gpio_asiu 87 0>;
		bt-host-wake-gpio = <&gpio_crmu 4 0>;
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		play {
			label = "play or pause key";
			linux,code = <KEY_PLAYPAUSE>;
			gpios = <&gpio_crmu 5 0>;
			wakeup-source;
		};

		down {
			label = "volume down key";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpio_asiu 103 0>;
		};

		up {
			label = "volume up key";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpio_asiu 119 0>;
		};
	};

	rf_reg0: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "bt-rf-reg0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio_crmu 2 0>;
		enable-active-high;
	};

	vdd_3v3_reg: regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-3v3-reg";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_1v8_reg: regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-1v8-reg";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

&adc {
	status = "okay";
};

&cygnus_crmu_timer {
	status = "okay";
};

&gpio_asiu {
	pinctrl-names = "default";
	pinctrl-0 = <&key_grps>;

	key_grps: key_grps {
		keys {
			pins = "gpio-103", "gpio-119";
			bias-pull-up;
		};
	};
};

&nand {
	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-on-flash-bbt;

		#address-cells = <1>;
		#size-cells = <1>;

		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;

		brcm,nand-oob-sector-size = <16>;
	};
};

&pm {
	status = "okay";
	aon_regulators {
		vdd_regulator {
			gpio = <&gpio_crmu 0 0>;
			enable-active-high;
			startup-delay-us = <1000>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
			regulator-state-off {
				regulator-off-in-suspend;
			};
		};
		rf_regulator0 {
			gpio = <&gpio_crmu 1 0>;
			enable-active-high;
			regulator-state-off {
				regulator-off-in-suspend;
			};
		};
		rf_regulator1 {
			gpio = <&gpio_crmu 2 0>;
			enable-active-high;
			regulator-state-off {
				regulator-off-in-suspend;
			};
		};
	};
};

&pwm {
	status = "okay";
};

&sdhci0 {
	keep-power-in-suspend;
	status = "okay";
};
